{{>header2}}

<style type="text/css">
.grid-item{
  transition: .5s ease-in-out;
}
.grid-item:hover{
  filter: brightness(70%);
}

.thumbnail{
  object-fit:cover;
  width:100%;
  height:auto;
}
</style>

<body>
{{>navi_toggle}}

<!--
<p>
<ol>
  {{#each list}}
    <li>assets/gallery-images/{{this}}</li>
  {{/each}}
</ol>

</p>
-->

{{!-- <section id="photoGallery">
  <div class="container-fluid">
<div class="row">
{{#each list}}
  <div class="item col-6 col-md-4 col-lg-3 p-0">
  
      <a id="@index" href="assets/gallery-images/{{this}}" data-fancybox="gallery">
    <img src="assets/gallery-images/{{this}}" class="thumbnail">
    </a>
  </div>
{{/each}}
</div>
</div>


</section> --}}

<section id="photoGallery">
  <div class="container-fluid">
<div id="grid">
<div class="grid-sizer"></div>
{{#each list}}
  <div class="grid-item">
      <a id={{@index}} href="assets/gallery-images/{{this}}">
    <img src="assets/gallery-images/{{this}}" class="thumbnail">
    </a>
  </div>
{{/each}}
</div>
</div>


</section>


  {{>footer}}
 <!-- <script src="assets/js/masonry.js"></script> -->
  <script src="assets/js/mgf-popup-photos.js"></script>
  <script src="assets/js/jquery.magnific-popup.min.js"></script>


</body>

</html>